In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('sales_data.csv')
df.head()

,Order Date,Order ID,Product,Product_ean,catégorie,Purchase Address,Quantity Ordered,Price Each,Cost price,turnover,margin
0,2019-01-22 21:25:00,141234,iPhone,5.638009e+12,Vêtements,"944 Walnut St, Boston, MA 02215",1,700.00,231.0000,700.00,469.0000
1,2019-01-28 14:15:00,141235,Lightning Charging Cable,5.563320e+12,Alimentation,"185 Maple St, Portland, OR 97035",1,14.95,7.4750,14.95,7.4750
2,2019-01-17 13:33:00,141236,Wired Headphones,2.113973e+12,Vêtements,"538 Adams St, San Francisco, CA 94016",2,11.99,5.9950,23.98,11.9900
3,2019-01-05 20:33:00,141237,27in FHD Monitor,3.069157e+12,Sports,"738 10th St, Los Angeles, CA 90001",1,149.99,97.4935,149.99,52.4965
4,2019-01-25 11:59:00,141238,Wired Headphones,9.692681e+12,Électronique,"387 10th St, Austin, TX 73301",1,11.99,5.9950,11.99,5.9950

In [9]:
# importing packages
import sys
import pandas as pd

# Check if the correct number of command-line arguments are provided
if len(sys.argv) != 3:
    print("Usage: python lab_1.py input_file.csv output_file.csv")
    sys.exit(1)

# Get the input and output file names from command-line arguments
input_file = 'sales_data.csv'
output_file = 'output.csv'

try:
    # Read the CSV file into a DataFrame (You can modify this part as needed)
    df = pd.read_csv(input_file)

    # Do something with the data (Example: Capitalize the column names)
    df.columns = [col.upper() for col in df.columns]

    # Save the results to the output CSV file
    df.to_csv(output_file, index=False)
    print(f"Processed data saved to {output_file}")
except Exception as e:
    print(f"Error: {e}")
    sys.exit(1)

Processed data saved to output.csv

In [10]:
df1 = pd.read_csv('output.csv')
df1.head()

,ORDER DATE,ORDER ID,PRODUCT,PRODUCT_EAN,CATÉGORIE,PURCHASE ADDRESS,QUANTITY ORDERED,PRICE EACH,COST PRICE,TURNOVER,MARGIN
0,2019-01-22 21:25:00,141234,iPhone,5.638009e+12,Vêtements,"944 Walnut St, Boston, MA 02215",1,700.00,231.0000,700.00,469.0000
1,2019-01-28 14:15:00,141235,Lightning Charging Cable,5.563320e+12,Alimentation,"185 Maple St, Portland, OR 97035",1,14.95,7.4750,14.95,7.4750
2,2019-01-17 13:33:00,141236,Wired Headphones,2.113973e+12,Vêtements,"538 Adams St, San Francisco, CA 94016",2,11.99,5.9950,23.98,11.9900
3,2019-01-05 20:33:00,141237,27in FHD Monitor,3.069157e+12,Sports,"738 10th St, Los Angeles, CA 90001",1,149.99,97.4935,149.99,52.4965
4,2019-01-25 11:59:00,141238,Wired Headphones,9.692681e+12,Électronique,"387 10th St, Austin, TX 73301",1,11.99,5.9950,11.99,5.9950